body {
  background: url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg);
  height: 60vh;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

h2 {
  margin: 0;
  font-size: 16px;
}

select {
  display: block;
  width: 100%;
  padding: 6px;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  font-size: 30px;
  color: skyblue;
}

footer a {
  color: skyblue;
  font-weight: bold;
}

footer a:hover {
  text-decoration: none;
}

.date {
  opacity: 0.7;
}

.container {
  max-width: 500px;
  background: skyblue;
  margin: 50px auto 60px auto;
  padding: 50px 50px 50px 50px;
  box-shadow: 0px 3px 8px;
  border-radius: 20px;
}

.time {
  font-size: 43px;
  display: inline;
}

.time-reference {
  display: inline;
  font-size: 16px;
  position: relative;
  top: -5px;
  padding-left: 2px;
  font-weight: 500;
}

.los-angeles-time,
.rome-time,
.fiji-time,
.bangkok-time {
  font-size: 43px;
  display: inline;
}

.los-angeles-time-reference,
.rome-time-reference,
.fiji-time-reference,
.bangkok-time-reference {
  display: inline;
  font-size: 16px;
  position: center;
  top: -5px;
  padding-left: 2px;
  font-weight: 500;
}

.city {
  padding: 8px 1-px;
}

.row {
  margin: 0 4px;
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom: 1px dashed skyblue;
}

.row:last-child {
  border: none;
}

#back-link {
  padding: 4px;
  color: skyblue;
  text-decoration: none;
}

#link {
  padding: 4px;
}
.nav__btns {
  display: flex;
  align-items: center;
}
.change-theme {
  font-size: 1.25rem;
  color: skyblue;
  margin-right: var(--mb-1);
  cursor: pointer;
}
.change-theme:hover {
  color: blueviolet;
}
